* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/* header styles */
.header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav h3 {
    color: var(--Dark-01, #131313);
    font-size: 2.8rem;
    font-weight: 700;

}

nav>ul {
    display: flex;
    gap: 30px;
    list-style: none;

}

nav li a {
    text-decoration: none;
    color:#424242;
    font-weight: 500;
    font-size: 1.2rem;
}

/* banner styles */
.banner-text{
    width: 862px;
    align-items: center;
    margin: 130px 240px 50px 240px;
}
.banner-text>h1 {
    color: var(--Dark-01, #131313);
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 30px;
}

.gray-text {
    color: var(--Dark-03, #727272);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    margin-top: 0;
    margin-bottom: 30px;
}

.btn-primary {
    color: white;
    border-radius: 8px;
    background: #FF900E;
    width: 180px;
    height: 64px;
    padding: auto;
    border: none;
    cursor: pointer;
    align-items: center;
    margin-left: 320px;
    margin-bottom: 0px;
}
.banner-img img{
    width: 100%;
    margin-top: 0;
}
/* team section */
.team{
    display: flex;
    justify-content: space-between;
    margin: 80px 280px;
    gap: 30px;
    align-items: center;
   
}
.team-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.team-text{
    /* align-items: center; */
    padding-right: 0;
}
.Quick{
    color: var(--Dark-03, #727272);
    font-size: 2.8rem;
    font-weight: 500;

}
.of-our{
    color: var(--Dark-01, #131313);
    font-size: 2.8rem;
    font-weight: 700;

   
}
.fea{
    color: #FF900E;
    font-size: 2.8rem;
    font-weight: 700;

}
/* featured section styles */
.features{
    display: flex;
    gap: 100px;
    margin: 130px 230px;
}
.featured-content{
    margin-bottom: 25px;
}
.section-title{
    width: 468px;
    font-size: 2.8rem;
    font-weight: 700;
    border-left: 5px solid #FF900E;
   padding-left: 20px;

}
.description{
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}
.card-item{
   margin-bottom: 25px;
}
.card{
    border-radius: 8px;
background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
width: 35.6rem;
height: 8.6rem;
padding: 50px;
align-items: center;
}
.ten-years-badge{
    color: #FFF;
    background-color: #FF900E;
    border-radius: 8px;
    width: 342px;
}
.ten-years-badge h3{
    font-size: 4rem;
    font-weight: 700;
    padding: 40px
}
.ten-years-badge p{
    font-size: ;
}



@media screen and (max-width:576px)  {
    nav{
        flex-direction: column;
        padding: 10px;
    }
    .header{
        padding: 10px;
    }
    .banner-text{
        margin: 10px;
        width: auto;
    }
    .btn-primary{
        margin: auto;
    }
    .banner-img img{
        width: 100%;
    }
    .team{
        flex-direction: column-reverse;
        margin: 20px;

    }
    .team-img{
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
    
}